@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-sans;
  }
}
@font-face {
  font-family: 'Chillax';
  src: url('../src/assets/fonts/Chillax-Variable.woff2') format('woff2');
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

@layer components {
  .responsive-heading {
    @apply text-base sm:text-xl md:text-2xl text-black dark:text-white;
  }
  .responsive-text-base {
    @apply text-base sm:text-lg md:text-xl text-black dark:text-white;
  }
}

